/* Google Translate Widget CSS */
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-primaria: #1f242d;
    --cor-secundaria: #323946;
    --cor-do-texto: #fff;
    --cor-principal: #9956f6ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    top: 0px !important;
    background-color: var(--cor-primaria);
    color: var(--cor-do-texto);
}


#google_translate_element {
    padding: 0;
    margin-right: 10px;
    
    
  }
  .goog-te-banner-frame.skiptranslate,
  .goog-te-gadget-simple img,
  img.goog-te-gadget-icon,
  .goog-te-menu-value span {
    display: none !important;
  }
  .goog-te-menu-frame {
    box-shadow: none !important;
  }


  .goog-te-gadget-simple {
    background-color: transparent !important;
    background: url("assets/translate.svg") center / 12px no-repeat;
    background-size: 20px 20px;
    display: flex;
    font-weight: 400;
    line-height: 1.8;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    border-radius: 4px;
  }

  .goog-te-gadget-simple:hover {
    background: url("assets/translate2.svg") center / 12px no-repeat;
    background-size: 20px 20px;

  }

  
 
  /* Deixar Oculto */
  .goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    text-decoration: none !important;
    display: none !important;
  }

/* Barra Superior do Google (deixar oculto)*/

  .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
  }

/* Seletor de Linguagens */
.VIpgJd-ZVi9od-xl07Ob-OEVmcd {
    margin-top: .2rem !important;
    border-radius: 15px !important;
    box-shadow:  0 0 .875rem var(--cor-principal)!important;
    border: none !important;
}

/* Ocultar Icone do Google (lateral esquerda) */

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf  {
  display: none !important;
}

.VIpgJd-ZVi9od-vH1Gmf {
  background-color: var(--cor-principal);
  z-index: 100 !important;
  border: none !important;

}

/* Talvez tabela  */
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b {
  background-color: var(--cor-primaria);
}


.VIpgJd-ZVi9od-vH1Gmf-ibnC6b, .VIpgJd-ZVi9od-vH1Gmf-ibnC6b-gk6SMd {
color: var(--cor-primaria) !important;
text-decoration: underline !important;

}

.VIpgJd-ZVi9od-xl07Ob-OEVmcd {
  z-index: 100 !important;
}




@media (max-width: 768px) {
  .goog-te-gadget-simple {
    display: none!important;
   }

}

@media (max-width: 617px) {
  .goog-te-gadget-simple {
    display: none!important;
   }
}

@media (max-width: 450px) { 
  .goog-te-gadget-simple {
    display: none!important;
   }

}

@media (max-width: 365px){
  .goog-te-gadget-simple {
    display: none!important;
   }

}








