@model Portfolio.Models.ContatoModel
@{
    Layout = "_Layout";
}

<section class="inicio" id="inicio">
    <div class="conteudo-inicio">
        <h3>Olá, eu me chamo</h3>
        <h1>Nathã Targino</h1>
        <h3 id="headerText"><span style="color: #fff;">E sou um </span> <span>Desenvolvedor </span><span class="multiplo-texto"></span></h3>
        <p>Desenvolvedor Full Stack focado no ecossistema .NET. Desenvolvo soluções modernas utilizando C#, ASP.NET MVC e SQL Server.</p>
        <div class="social-media">
            <a href="https://linkedin.com/in/nathatargino" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="mailto:nathatargino.dev@gmail.com"><i class='bx bxl-gmail'></i></a>
            <a href="https://www.instagram.com/nathatargino/" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://api.whatsapp.com/send?phone=5583993176446" target="_blank"><i class='bx bxl-whatsapp'></i></a>
        </div>
        <a href="" class="btn" id="cvbtn">Baixar CV</a>
    </div>

</section>

<section class="sobre" id="sobre">
    <div class="conteudo-sobre">
        <h2 class="heading">Sobre <span>mim</span></h2>
        <h3>Desenvolvedor FullStack</h3>
        <p>Desenvolvo sites e aplicações web que se adaptam perfeitamente a qualquer dispositivo, utilizando tecnologias modernas como HTML5, CSS3, JavaScript, 
            React.js e Node.js. Combinando front-end dinâmico e back-end robusto, entrego soluções que não só são visualmente atraentes, mas também rápidas,
            seguras e escaláveis, usando tanto bancos de dados relacionais quanto não relacionais.</p>
        <a href="#sobre" onclick="showAlert()" class="btn">Mais informações</a>
    </div>
</section>

<section class="servicos" id="servicos">
    <h2 class="heading">Meus <span>Serviços</span></h2>

    <div class="conteudo-servicos">
        <div class="caixa-de-servicos">
            <i class='bx bx-code-alt'></i>
            <h3>Desenvolvimento Web Completo</h3>
            <p>Criação de aplicações web completas, desde o front-end até o back-end. Utilizo tecnologias modernas como React.js e Node.js para construir soluções robustas e escaláveis.</p>
            <a href="#servicos" onclick="showAlert()" class="btn">Mais informações</a>
        </div>

        <div class="caixa-de-servicos">
            <i class='bx bx-link'></i>
            <h3>Integrações com APIs e Web</h3>
            <p>Especialista em integração de sistemas, conectando plataformas e serviços para funcionar de forma integrada. Experiência em conectar APIs de terceiros e automação de processos.</p>
            <a href="#servicos" onclick="showAlert()" class="btn">Mais informações</a>
        </div>

        <div class="caixa-de-servicos">
            <i class='bx bx-data'></i>
            <h3>Gestão Avançada de Bancos</h3>
            <p>Gerenciamento e otimização de bancos de dados relacionais e não relacionais. Experiência em PostgreSQL, MongoDB e MySQL para garantir desempenho e integridade dos dados.</p>
            <a href="#servicos" onclick="showAlert()" class="btn">Mais informações</a>
        </div>
    </div>
</section>

<section class="portfolio" id="portfolio">
    <h2 class="heading">Ultimos <span>Projetos</span></h2>

    <div class="conteudo-portfolio">
        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio1.jpeg" alt="Infinite PokéDex">
            <div class="camada-portfolio">
                <h4>Infinite PokéDex</h4>
                <p>Catálogo de Pokémons com consumo de API em tempo real e performance otimizada.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/Pokedex-integrado-ao-PokeApi-/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/Pokedex-integrado-ao-PokeApi-" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio2.jpg" alt="Blurred Login">
            <div class="camada-portfolio">
                <h4>Blurred Login</h4>
                <p>Login interface com estética Glassmorphism e foco em UX minimalista.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/Pagina-de-Login-Transparente/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/Pagina-de-Login-Transparente" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio3.jpeg" alt="Floating Login">
            <div class="camada-portfolio">
                <h4>Floating Login</h4>
                <p>Interface com temática espacial e elemento SVG dinâmico.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/Pagina-de-Login-Gato-Astronauta/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/Pagina-de-Login-Gato-Astronauta" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio4.jpeg" alt="Super-M Game">
            <div class="camada-portfolio">
                <h4>Super-M Game</h4>
                <p>Jogo web em JavaScript com temática Super Mario e estética retrô.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/SuperM-Game/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/SuperM-Game" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio5.jpeg" alt="Simple Portfolio">
            <div class="camada-portfolio">
                <h4>Simple Portfolio</h4>
                <p>Projeto de portfólio minimalista com foco em navegação intuitiva.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/auladevopsfundamentals/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/auladevopsfundamentals" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio6.jpeg" alt="Android Blog">
            <div class="camada-portfolio">
                <h4>Android Blog</h4>
                <p>Blog histórico sobre o mascote Android com integração de vídeo.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/Projeto-Android-CursoemVideo/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/Projeto-Android-CursoemVideo" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contato" id="contato">
    <h2 class="heading">Contate-<span style="color: #9956f6ef;">me!</span></h2>

    <form action="/Home/EnviarContato" method="post">
        <div class="input-box">
            <input type="text" name="Nome" placeholder="Nome completo" required>
            <input type="email" name="Email" placeholder="E-mail" required>
        </div>
        <div class="input-box">
            <input type="tel" name="Telefone" id="phone" placeholder="Celular">
            <input type="text" name="EmailAlternativo" placeholder="E-mail alternativo">
        </div>
        <textarea name="Mensagem" cols="30" rows="10" placeholder="Escreva sua mensagem" required></textarea>

        <button type="submit" class="btn">Enviar mensagem</button>
    </form>
</section>
