@model Portfolio.Models.ContatoModel
@{
    Layout = "_Layout";
}

<section class="inicio" id="inicio">
    <div class="conteudo-inicio">
        <h3>Olá, eu me chamo</h3>
        <h1>Nathã Targino</h1>
        <h3 id="headerText"><span style="color: #fff;">E sou um </span> <span>Desenvolvedor </span><span class="multiplo-texto"></span></h3>
        <p>Desenvolvedor Full Stack com foco no ecossistema .NET, atuando no desenvolvimento de soluções modernas utilizando C#, ASP.NET MVC e SQL Server.</p>
        <div class="social-media">
            <a href="https://linkedin.com/in/nathatargino" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="mailto:nathatargino.dev@gmail.com"><i class='bx bxl-gmail'></i></a>
            <a href="https://www.instagram.com/nathatargino/" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://api.whatsapp.com/send?phone=5583993176446&text=Ol%C3%A1%2C%20Nath%C3%A3!%20Acessei%20seu%20portf%C3%B3lio%20e%20tive%20interesse%20no%20seu%20perfil%20como%20Desenvolvedor%20Full%20Stack.%20Gostaria%20de%20conversar%20com%20voc%C3%AA%20sobre%20um%20projeto%20espec%C3%ADfico.%20Voc%C3%AA%20teria%20disponibilidade%3F" target="_blank"><i class='bx bxl-whatsapp'></i></a>
        </div>
        <a href="" class="btn" id="cvbtn">Baixar CV</a>
    </div>

</section>

<section class="sobre" id="sobre">
    <div class="conteudo-sobre">
        <h2 class="heading">Sobre <span>mim</span></h2>
        <h3>Desenvolvedor FullStack</h3>
        <p>Especialista no desenvolvimento de aplicações web robustas e escaláveis utilizando o ecossistema .NET.
            Construo soluções completas, desde back-ends performáticos com C# e ASP.NET MVC até interfaces modernas e responsivas. Com sólida experiência em SQL Server, entrego sistemas seguros e otimizados, 
            focados na melhor experiência do usuário e na eficiência dos processos de negócio.</p>
        <a href="#contato" class="btn">Mais informações</a>
    </div>
</section>

<section class="servicos" id="servicos">
    <h2 class="heading">Meus <span>Serviços</span></h2>

    <div class="conteudo-servicos">
        <div class="caixa-de-servicos">
            <i class='bx bx-code-alt'></i>
            <h3>Full Stack .NET</h3>
            <p>Criação de aplicações web completas utilizando o ecossistema .NET. Desenvolvo interfaces dinâmicas e back-end estruturado com C# e ASP.NET MVC, focando em código limpo, funcional e soluções robustas para problemas complexos.</p>
            <a href="#contato" class="btn">Mais informações</a>
        </div>

        <div class="caixa-de-servicos">
            <i class='bx bx-link'></i>
            <h3>APIs e Serviços Back-end</h3>
            <p>Construção de APIs com ASP.NET Core para integração entre sistemas. Foco total na organização da lógica de negócio e na garantia de que todos os dados sejam processados, validados e entregues de forma segura, performática e  eficiente.</p>
            <a href="#contato" class="btn">Mais informações</a>
        </div>

        <div class="caixa-de-servicos">
            <i class='bx bx-data'></i>
            <h3>Banco de Dados SQL</h3>
            <p>Experiência na modelagem manipulação de bancos de dados relacionais com SQL Server. Atuo na criação de consultas, tabelas e estruturação de dados para garantir a total persistência, segurança e integridade das informações vitais da aplicação.</p>
            <a href="#contato" class="btn">Mais informações</a>
        </div>
    </div>
</section>

<section class="portfolio" id="portfolio">
    <h2 class="heading">Ultimos <span>Projetos</span></h2>

    <div class="conteudo-portfolio">
        <div class="caixa-do-portfolio">
            <img src="~/images/aurascale.png" alt="AuraScale">
            <div class="camada-portfolio">
                <h4>AuraScale</h4>
                <p>Gestão inteligente de escalas e automação de turnos com .NET e Azure.</p>
                <div class="conteudo-icones">
                    <a href="https://aurascale.azurewebsites.net/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/AuraScale" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio1.png" alt="AuraCommerce">
            <div class="camada-portfolio">
                <h4>AuraCommerce</h4>
                <p>Sistema de gestão de vendas com ASP.NET Core MVC, relatórios LINQ e deploy Azure.</p>
                <div class="conteudo-icones">
                    <a href="https://auracommerce.azurewebsites.net/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/AuraCommerce" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/dtom.png" alt="DTOM.net">
            <div class="camada-portfolio">
                <h4>DTOM.net</h4>
                <p>Plataforma de chat e call com música sincronizada via SignalR e WebRTC.</p>
                <div class="conteudo-icones">
                    <a href="https://dtom.azurewebsites.net/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/DTOM" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio2.png" alt="InfiniteDex">
            <div class="camada-portfolio">
                <h4>InfiniteDex</h4>
                <p>Catálogo de Pokémons com consumo de API em tempo real e performance otimizada.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/Pokedex-integrado-ao-PokeApi-/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/Pokedex-integrado-ao-PokeApi-" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio3.jpg" alt="Blurred Login">
            <div class="camada-portfolio">
                <h4>Blurred Login</h4>
                <p>Login interface com estética Glassmorphism e foco em UX minimalista.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/Pagina-de-Login-Transparente/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/Pagina-de-Login-Transparente" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>

        <div class="caixa-do-portfolio">
            <img src="~/images/portfolio4.png" alt="Floating Login">
            <div class="camada-portfolio">
                <h4>Floating Login</h4>
                <p>Interface com temática espacial e elemento SVG dinâmico.</p>
                <div class="conteudo-icones">
                    <a href="https://nathatargino.github.io/Pagina-de-Login-Gato-Astronauta/" target="_blank"><i class='bx bxs-show'></i></a>
                    <a href="https://github.com/nathatargino/Pagina-de-Login-Gato-Astronauta" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contato" id="contato">
    <h2 class="heading">Contate-<span style="color: #9956f6ef;">me!</span></h2>

    <form action="/Home/EnviarContato" method="post">
        <div class="input-box">
            <input type="text" name="Nome" placeholder="Nome completo" required>
            <input type="email" name="Email" placeholder="E-mail" required>
        </div>
        <div class="input-box">
            <input type="tel" name="Telefone" id="phone" placeholder="Celular">
            <input type="text" name="EmailAlternativo" placeholder="E-mail alternativo">
        </div>
        <textarea name="Mensagem" cols="30" rows="10" placeholder="Escreva sua mensagem" required></textarea>

        <button type="submit" class="btn" id="btn-enviar">
            <span class="btn-text">Enviar mensagem</span>
            <i class='bx bx-loader-alt bx-spin' id="spinner" style="display: none;"></i>
        </button>
    </form>
</section>
<div id="modalSucesso" class="modal">
    <div class="modal-conteudo">
        <div class="modal-header">
            <i class='bx bx-check-circle' style="font-size: 8rem; color: #9956f6ef; margin-bottom: 2rem; display: block;"></i>
        </div>
        <h3 style="font-size: 2.8rem; margin-bottom: 1rem;">Mensagem Enviada!</h3>
        <p style="font-size: 1.6rem; margin-bottom: 2.5rem; color: #eee;">Obrigado pelo contato. Responderei o mais breve possível.</p>
        <button onclick="fecharModal()" class="btn">Fechar</button>
    </div>
</div>