<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/48f4191a-d6d1-455a-9aac-21eeaf695585/resourceGroups/nathatargino_group-982c/providers/Microsoft.Web/sites/nathatargino</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nathatargino.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>0ef07eb3-d5b2-6878-5af7-019c4fec1331</ProjectGuid>
    <PublishUrl>https://nathatargino.scm.azurewebsites.net/</PublishUrl>
    <UserName>$nathatargino</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>