
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-primaria: #1f242d;
    --cor-secundaria: #323946;
    --cor-do-texto: #fff;
    --cor-principal: #9956f6ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-do-texto);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 0vh;
}


.contato img{
    margin: auto;
    height: 56vh;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    width: 100%;
    max-width: 32rem;
    padding: 1.5rem 3rem;
    background: var(--cor-principal);
    color: var(--cor-primaria);
    border-radius: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 3rem;
    box-shadow: 0 0 1rem var(--cor-principal);
}

.footer {
    display: none;
}

 .btn:hover {
    box-shadow: 0 0 2rem var(--cor-principal);
    transform: translateY(-3px); 
 }

/* --- TELAS GRANDES (1920x1080) --- */

.btn {
    display: inline-block;
    width: 100%;
    max-width: 40rem;
    padding: 1.8rem 3.5rem;
    font-size: 1.6rem;
    margin-top: 7rem;
}

/* --- TELAS MÉDIAS (Até 1366x768) --- */
@media (max-width: 1366px) {
    .heading {
        font-size: 3.8rem;
    }
    .btn {
        max-width: 32rem;
        padding: 1rem 2.8rem;
        font-size: 1.6rem;
        margin-top: 0rem;
    }
}

/* --- TABLETS E TELAS PEQUENAS (Até 1024x720) --- */
@media (max-width: 1024px) {
    .btn {
        max-width: 28rem;
        padding: 1rem 2.6rem;
        font-size: 1.6rem;
        margin-top: 7rem;
    }
}

/* --- CELULARES (Abaixo de 768px) --- */
@media (max-width: 768px) {
    .contato img {
        max-height: 46vh;
    }
    .btn {
        max-width: 25rem;
        font-size: 1.6rem;
        padding: 1.2rem 2.4rem;
        margin-top: 8rem;
    }
}
