@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body, a, nav, .navbar a {
    font-family: 'Poppins', sans-serif !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-primaria: #1f242d;
    --cor-secundaria: #323946;
    --cor-do-texto: #fff;
    --cor-principal: #9956f6ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    top: 0px !important;
    background-color: var(--cor-primaria);
    color: var(--cor-do-texto);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

    .header.sticky {
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
    }

.logo {
    font-size: 2.5rem;
    color: var(--cor-do-texto);
    font-weight: 600;
    cursor: default;
}

.navbar {
    display: flex;
    flex-direction: row;
}

    .navbar a {
        font-size: 1.7rem;
        color: var(--cor-do-texto);
        margin-left: 4rem;
    }

        .navbar a:hover,
        .navbar a.ativo {
            color: var(--cor-principal);
        }

.flip-container {
    perspective: 1000px;
}

    .flip-container img {
        max-width: 17px;
        max-height: 17px;
        height: auto;
    }

.flip {
    position: relative;
    margin-top: .5vh;
    margin-left: .9vw;
    width: 2rem;
    height: 2rem;
}

    .flip .front,
    .flip .back {
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }

    .flip .front {
        transform: rotateY(0deg);
    }

    .flip .back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        max-width: 17px;
        max-height: 17px;
        transform: rotateY(-180deg);
        backface-visibility: hidden;
    }

    .flip.flip-active .front {
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }

    .flip.flip-active .back {
        opacity: 1;
        transform: rotateY(0deg);
    }


#icone-menu {
    font-size: 3.6rem;
    color: var(--cor-do-texto);
    display: none
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-inicio h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

    .conteudo-inicio h3:nth-of-type(2) {
        margin-bottom: 2rem;
    }

span {
    color: var(--cor-principal);
}

.conteudo-inicio h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}


.img-inicio img {
    width: 29vw;
    animation: imagemFlutuante 4s ease-in-out infinite;
    filter: drop-shadow(1px 1px 20px var(--cor-principal));
    max-width: 530px;
}

@keyframes imagemFlutuante {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.conteudo-inicio p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--cor-principal);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--cor-principal);
    margin: 3rem 1.5rem 3rem 0;
    transition: .2s;
}

    .social-media a:hover {
        background: var(--cor-principal);
        color: var(--cor-secundaria);
        box-shadow: 0 0 1rem var(--cor-principal);
    }

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--cor-principal);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--cor-principal);
    font-size: 1.6rem;
    color: var(--cor-secundaria);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
}

    .btn:hover {
        box-shadow: none;
    }

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--cor-secundaria);
}

.img-sobre img {
    filter: drop-shadow(1px 1px 20px var(--cor-principal));
    border-radius: 50%;
    width: 29vw;
    max-width: 530px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.conteudo-sobre h2 {
    text-align: left;
    line-height: 1.2;
}

.conteudo-sobre h3 {
    font-size: 2.6rem;
}

.conteudo-sobre p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.servicos h2 {
    margin-bottom: 5rem;
}

.conteudo-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

    .conteudo-servicos .caixa-de-servicos {
        flex: 1 1 30rem;
        background: var(--cor-secundaria);
        padding: 3rem 2rem 4rem;
        border-radius: 2rem;
        text-align: center;
        border: .2rem solid var(--cor-primaria);
        transition: .3s ease;
    }

        .conteudo-servicos .caixa-de-servicos:hover {
            border-color: var(--cor-principal);
            transform: scale(1.02);
        }

.caixa-de-servicos i {
    font-size: 7rem;
    color: var(--cor-principal);
}

.caixa-de-servicos h3 {
    font-size: 2.6rem;
}

.caixa-de-servicos p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    background-color: var(--cor-secundaria);
}

    .portfolio h2 {
        margin-bottom: 4rem;
    }

.conteudo-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

    .conteudo-portfolio .caixa-do-portfolio {
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem var(--cor-primaria);
        overflow: hidden;
        display: flex;
    }

.caixa-do-portfolio img {
    width: 100%;
    transition: .5s ease;
}

.caixa-do-portfolio:hover img {
    transform: scale(1.1);
}

.caixa-do-portfolio .camada-portfolio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--cor-principal));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.caixa-do-portfolio:hover .camada-portfolio {
    transform: translateY(0);
}

.camada-portfolio {
    display: flex;
}

    .camada-portfolio h4 {
        font-size: 3.4rem;
    }

    .camada-portfolio p {
        font-size: 1.6rem;
        margin: .3rem 0 1rem;
    }

    .camada-portfolio a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background: var(--cor-do-texto);
        border-radius: 50%;
        margin-right: 1rem;
    }

        .camada-portfolio a i {
            font-size: 3rem;
            color: var(--cor-secundaria);
        }

.conteudo-icones {
    display: flex;
}

.contato h2 {
    margin-bottom: 3rem;
}

.contato form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

    .contato form .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .contato form .input-box input,
        .contato form textarea {
            width: 100%;
            padding: 1.5rem;
            font-size: 1.6rem;
            color: var(--cor-do-texto);
            background-color: var(--cor-secundaria);
            border-radius: .8rem;
            margin: .7rem 0;
        }

        .contato form .input-box input {
            width: 49%;
        }

    .contato form textarea {
        resize: none;
    }

    .contato form .btn {
        margin-top: 2rem;
        cursor: pointer;
    }


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--cor-secundaria);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--cor-primaria);
    border-radius: .8rem;
    transition: .3s ease;
}

    .footer-iconTop a:hover {
        box-shadow: 0 0 1rem var(--cor-principal);
    }

    .footer-iconTop a i {
        font-size: 2.4rem;
        color: var(--cor-principal);
    }

@media (max-width: 1515px) {
    html {
        font-size: 55%;
    }

    img#translateImage {
        width: 95%;
        transform: translate(-10%, -15%);
    }
}

@media (max-width: 1315px) {
    html {
        font-size: 60%;
    }

    .flip-container {
        transform: translate(-50%, -50%);
        transform: scale(1.296);
        transform-origin: center;
        margin-left: 9px;
    }
}

@media (max-width: 1150px) {

    html {
        font-size: 40%;
    }

    .flip-container {
        transform: translate(-50%, -50%);
        transform: scale(1.27);
        transform-origin: center;
    }
}

@media (max-width: 991px) {

    html {
        font-size: 40%;
    }

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .servicos {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contato {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 880px) {

    html {
        font-size: 38%;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 38%;
    }

    #icone-menu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--cor-primaria);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

        .navbar.active {
            display: block;
        }

        .navbar a {
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
        }

    .inicio {
        flex-direction: column;
    }

    .conteudo-inicio h3 {
        font-size: 2.6rem;
    }

    .conteudo-inicio h1 {
        font-size: 5rem;
    }

    .img-inicio {
        width: 70vw;
        margin-top: 4rem;
        display: none;
    }

    .img-sobre {
        width: 70vw;
        margin-top: 4rem;
    }

    .servicos h2 {
        margin-bottom: 3rem
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .conteudo-portfolio {
        grid-template-columns: repeat(2, 1fr);
    }

    .social-media {
        text-align: center;
        justify-content: space-between;
    }

    #cvbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 79vw;
        margin: 20px;
    }

    #translateImage {
        display: none;
    }
}

@media (max-width: 617px) {
    html {
        font-size: 50%
    }

    .conteudo-portfolio {
        grid-template-columns: 1fr;
    }

    .social-media {
        text-align: center;
        justify-content: space-between;
    }

    #cvbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 79vw;
        margin: 20px;
    }

    .footer {
        flex-direction: column-reverse;
    }

        .footer p {
            text-align: center;
            margin: 2rem;
        }

    .footer-iconTop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #translateImage {
        display: none;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%
    }

    .contato form .input-box input {
        width: 100%;
    }

    .social-media {
        text-align: center;
        justify-content: space-between;
    }

    #cvbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 79vw;
        margin: 20px;
    }

    .footer {
        flex-direction: column-reverse;
    }

        .footer p {
            text-align: center;
            margin: 2rem;
        }

    .footer-iconTop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #translateImage {
        display: none;
    }
}

@media (max-width: 365px) {

    html {
        font-size: 50%
    }

    .img-inicio {
        width: 80vw;
        display: none;
    }

    .img-sobre {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

        .footer p {
            text-align: center;
            margin: 2rem;
        }

    .social-media {
        text-align: center;
        justify-content: space-between;
    }

    #cvbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 79vw;
        margin: 20px;
    }

    .footer-iconTop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #translateImage {
        display: none;
    }
}

/*==================== MODAL CENTRALIZADO COM EFEITO GLASS ====================*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* Suporte para Safari/iOS */

    z-index: 99999;
    justify-content: center;
    align-items: center;
}

    /* Centraliza o Modal quando JS aciona*/
    .modal.active {
        display: flex !important;
    }

.modal-conteudo {
    /* Efeito vidro no card */
    background: rgba(31, 36, 45, 0.7);
    padding: 4rem;
    border-radius: 2rem;
    border: 1px solid rgba(153, 86, 246, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    max-width: 450px;
    width: 90%;
    animation: popIn 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#spinner {
    font-size: 2.2rem;
    color: var(--cor-secundaria);
    font-weight: bolder;
    vertical-align: middle;
    margin-right: 16px;
    padding: 0;
    
}

.btn span,
#btn-enviar span {
    color: var(--cor-secundaria) !important;
    padding: 0;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
    color: var(--cor-secundaria) !important;
}


